{% from "macros/quantity_macro.html" import render_field %}
{% extends "base.html" %}

{% block title %}
Bucket List - Delete Item from Inventory
{% endblock %}

{% block cssimports %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/signin.css')}}"/>
{% endblock %}

{% block content %}
<h1>SECRET DELETE ITEM PAGE</h1>
{% for item in items %}
<tr>
  <td>
    {{
      item['item_name']
    }}
  </td>
  <td>
    P
    {{
      item['price']
    }}
  </td>
  <td>
    <form method='post' action="{{url_for('default.delete_item')}}">
      <dl>
      {{ render_field(form.item_name, type='hidden', value=item['item_name']) }}
      {{ render_field(form.price, type='hidden', value=item['price']) }}
      </dl>
  </td>
  <td>
      <input class='btn btn-primary' type='submit' value='Delete Item!'/>
  </td>
    </form>

{% endfor %}

{% endblock %}
