{% from "macros/quantity_macro.html" import render_field %}
{% extends "base.html" %}

{% block cssimports %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/signin.css')}}"/>
{% endblock %}

{% block pagetitle %} Index {% endblock %}

{% block content %}
<h1>Welcome to the Bucket List!</h1>
<p>Server Time: {{server_time}}</p>

<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script type="text/babel">
var items = "{{items_list}}"
var prices = "{{items_prices_list}}"
items = items.replace('[','').replace(']','').replace(/{u&#39;item_name&#39;: u&#39;/g, '').replace(/&#39;}/g,'').split(', ')
prices = prices.replace('[','').replace(']','').replace(/{u&#39;price&#39;:/g,'').replace(/}/g, '').split(', ')
var postItems = React.createClass({
  render: function() {
    return (
      <tbody>
      {items.map(function(item,index){
        return (<tr>
                  <td>{item}</td>
                  <td>{prices[index]}</td>
                  <td>
                  <form method='post' action="{{url_for('default.add_cart')}}">
                  <input name="cart_item_name" value={item} hidden/>
                  <input name="cart_price" value={prices[index]} hidden/>
                  <input name="cart_quantity" type="Integer"/>
                  <input className='btn btn-primary' type='submit' value='Add to Cart'/>
                  </form>
                  </td>
                </tr>)
      })}
      </tbody>
      )
  }
});

var cart_items_list = "{{cart_items_list}}"
cart_items_list = cart_items_list.replace('[','').replace(']','').replace(/{u&#39;item_name&#39;: u&#39;/g,'').replace(/&#39;}/g,'').split(', ')
var cart_items_prices_list = "{{cart_items_prices_list}}"
cart_items_prices_list = cart_items_prices_list.replace('[','').replace(']','').replace(/{u&#39;price&#39;: /g,'').replace(/}/g,'').split(', ')
var cart_items_quantity_list = "{{cart_items_quantity_list}}"
cart_items_quantity_list = cart_items_quantity_list.replace('[','').replace(']','').replace(/{u&#39;quantity&#39;: /g,'').replace(/}/g,'').split(', ')
var cart_total = "{{cart_total}}"
var postCart = React.createClass({
  render: function() {
    return (
      <tbody>
      {cart_items_list.map(function(cart_item,index){
        return (<tr>
                  <td>{cart_item}</td>
                  <td>{cart_items_prices_list[index]}</td>
                  <td>{cart_items_quantity_list[index]}</td>
                  <td>{cart_items_prices_list[index] * cart_items_quantity_list[index]}</td>
                  <td>
                  <form method='post' action="{{url_for('default.remove_cart')}}">
                    <input name="cart_item_name" value={cart_item} hidden/>
                    <input name="cart_price" value={cart_items_prices_list[index]} hidden/>
                    <input name="cart_quantity" type={cart_items_quantity_list[index]} hidden/>
                    <input class='btn btn-primary' type='submit' value='X'/>
                  </form>
                  </td>
                </tr>)
      })}
        <tr>
          <td/><td/><td>Total:</td><td>{cart_total}</td><td/>
        </tr>
      </tbody>
      )
  }
});


      ReactDOM.render(
        React.createElement(postItems),
        document.getElementById('items')
      );

      ReactDOM.render(
        React.createElement(postCart),
        document.getElementById('cart')
      );

</script>

<table id="items" class="table"></table>

<table id="cart" class="table"></table>

{% with messages = get_flashed_messages(category_filter=["add_cart_success", "remove_cart_success", "register_item_success"]) %}
{% for message in messages %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{message}}
    </div>
{% endfor %}

{% endwith %}

{% with messages = get_flashed_messages(category_filter=["add_cart_failure"]) %}
{% for message in messages %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{message}}
    </div>
{% endfor %}

{% endwith%}

{% endblock %}
