{% from "macros/regform_macro.html" import render_field %}
{% extends "base.html" %}

{% block title %}
Bucket List - Add Item to Inventory
{% endblock %}

{% block cssimports %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/signin.css')}}"/>
{% endblock %}

{% block content %}

<form class='form-signin' method='post' action="{{url_for('default.register_item')}}">
  <h2 class='form-signin-heading'>Please enter Item</h2>
  <dl>
  {{ render_field(form.item_name) }}
  {{ render_field(form.price) }}
  </dl>
  <input class='btn btn-primary' type='submit'/>
</form>

{% endblock %}
